html{
    background-image:  url(../pic/bild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto; 
}

h1  {
    color: #F0F8FF;
    margin-top: 10%;
    text-align: center;
    font-family: Georgia; 
    font-size: 45px;
}
h2{
    color: #F0F8FF;
    text-align: center;
    font-family: Georgia;
    margin: 10px 0px;
    position: relative;
    left: -35px;
}

#main{
    text-align: center;
    font-family: Georgia; 
    width: 70%;
    padding-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    height: 600px;
    background-color: #5F5f5f
}

.button div{
    margin-top: 50px;
}

.button label {
    height:240px;
    border-radius: 5px;
    text-align: center;
    transition: 2s;
    padding:20px 240px;  /*Höhe / Breite */
    margin: 100px 0px;
    background-color:#AfAfAf;

}

.button input{
    display:none; /*radiobutton aus*/
}

.inhalt { /* Grundgerüst inhalt*/
    position:relative;
    z-index:-1;
    margin: 0 auto;
    height: 0;
    color: #000000;
    display: block;
    opacity: 0;
}

.button input:checked+label{ 
    background: radial-gradient(circle, transparent 0.15%, #2F2F2F)center/110%;
    color: black;

}
.button input:hover+label{ 
    transition: 1.4s;
    background: radial-gradient(circle, transparent 0.15%, #2F2F2F)center/110%;
    color: black;
    cursor: pointer;

}

.button input:checked ~ .inhalt { /* Veränderung bei klick */
    height: auto;
    margin-top:20px;
    padding-top: 20px;
    z-index: auto;
    opacity: 1;
}

.button label:after {
    content:" \2B9E";
    
}
.button input:checked+label:after {
    content:" \2B9F";
}

ul{
    width: 240px;

}
li{
    margin-right: 41px;
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #AFAFAF;
    margin-top: 1em; /* Abstand zwischen den Li*/
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000000;
}
hr{
     color: #F8F8FF;
}
li:hover{
    background: radial-gradient(circle, transparent 1%)center/110%;
    transition: 1s;
    background-color: grey;
}


table{
    border-collapse: collapse; /* 1 Rand um Tablle*/
    width: 100%; /*Füllt "main" aus*/
    cursor: default;
    position:relative;
}
.table{
    overflow-y: auto;
    height: 520px;
}

tr{
    background-color: #aeb4b9;
}

#test tr:nth-child(even){ background-color: #c4cad0;}
#test tr:hover{ background-color: #dae7e7;}
#test th{
    color: #F8F8FF;
    background-color: #3F2F2F;
}

#searchbar{
    border: none;
    border-bottom: 3px solid red;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    position:relative;
    top: -3px;
    
}
#tablehead{
    position: -webkit-sticky; /* Safari */
    position: sticky; /* Geht nicht in IE und Edge 15*/
    top: 0;
}

#back{
    position:relative;
    background-color: #aeb4b9;
    color: #000000;
    border-radius: 5px;
    left: -450px;
    top: -5px;
    padding: 5px 10px;
}

#logout{
    border-radius: 5px;
    background-color: #AFAFAF;
    float:left;
    margin-left: 50px;
    margin-top: -5px;
    padding: 10px 30px;
}
#logout:hover{
    background-color: #F8F8FF;
    background: radial-gradient(circle, transparent 1%)center/120%;
    transition: 1s;
    
}

#footer{
    background-color: #f1f1f1;
    text-align: center;
    padding 15px;
}